body {
  background-color: rgb(212, 212, 212);
}

h1 {
  text-align: center;
}

#free {
  transform: scale(.5);
  position: absolute;
}

#caught {
  transform: scale(.5);
  display: block;
  margin: auto;
}

.hidden {
  width: 0;
}

